doctype html
html(lang='ru')
  head
    include _head
    include _mixins
  body(itemscope, itemtype='https://schema.org/WebPage')
    header(itemscope, itemtype='https://schema.org/WPHeader')
      include _header
    main(itemscope, itemtype='https://schema.org/Blog')
      include _content
    include _scripts
